credible/__pycache__
credible/settings/.env
twitter/__pycache__
twitter/migrations
reviews/__pycache__
reviews/migrations
personality/__pycache__
personality/migrations
dashboard/__pycache__
dashboard/migrations
resume/__pycache__
resume/migrations
credible/settings/__pycache__
share
etc
bin
lib
pyvenv.cfg
vir
